.playerScoreContainer {
  overflow: hidden;
  cursor: default;
  border: 2px solid var(--mantine-color-default-border) !important;
}

.playerScoreContainerHasHistory {
  cursor: pointer;
}

.playerScoreContainerCurrentPlayer {
  border: 2px solid var(--mantine-color-green-5) !important;
}

.playerScoreProgressContainer {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  height: 100% !important;
  opacity: 0.8;
  z-index: 0 !important;
}

.currentPlayerTurnDice {
  transform: rotate(-25deg);
}

.playerScore {
  position: relative;
  z-index: 1;
}
