.podiumStep {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.podiumStepWins {
  margin-top: var(--mantine-spacing-xs);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
}
