.alertIcon {
    margin-right: 0.25rem;
    display: inline;
    vertical-align: middle;
}

.previewScoreContainer {
    width: 6rem;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border: 2px solid var(--mantine-color-blue-5);
}

.previewScoreContainerBelowMinimum {
    border: 2px solid var(--mantine-color-orange-5);
}
