.gamePageContainer {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-md);
    height: calc(100dvh - var(--app-shell-header-offset) - calc(var(--app-shell-padding) * 2)) !important;
}
